/*- Custom style -*/
$color_1: #fff;
$font_family_1: 'Source Sans Pro', sans-serif;
$background_color_1: #1e2227;


body{
    #moon{
        font-size: 20px;
    }
}


body.dark {
	font-family: $font_family_1;
	background-color: $background_color_1;
	font-size: 20px;
	color: $color_1;
	hr {
		border: 1px solid #808080;
	}
	#moon {
        font-size: 20px;
        color: $color_1
	}
	h1 a {
		color: $color_1;
	}
}

// -- Put custom style under this point -- //